@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
    --cor-hover-programas:var(--cor-terciaria);

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'montserrat',sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
}

.cabecalho{

    padding: 1% 0% 1% 17%;
    display: flex;
    gap: 20px;
    background-color: var(--cor-terciaria);   
}

.cabecalho_menu{

    display: flex;
    gap: 80px;
}

.cabecalho_menu_link{
   
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none; 
}

.cabecalho_menu_link:hover{

    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
    color:var(--cor-secundaria);
    transition: 0.5s;
}

.apresentacao{
    padding: 4.2% 10%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-bottom: 16%;
}
.apresentacao_conteudo{
    
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.site-presente{

    height: 250px;
}

.apresentacao_conteudo_titulo{
    font-size: 1.8rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao_conteudo_texto{
    font-size: 18px;
    font-family: var(--fonte-secundaria);
}

.seta-gif1{

    height: 50px;   
}

.seta-gif2{

    height: 50px;
    transform: rotate(180deg);
}

.acesse_minhas_redes{
    display: flex;
    justify-content: center;
}

.apresentacao_links_subtitulo{
    padding: 9px;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao_links1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    transition: 2s;
}



.apresentacao_links_link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 208px;
    text-align: center;
    border-radius: 18px;
    font-size: 24px;
    font-weight: 600;
    padding: 11.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    border: solid 2px;
    border-color: var(--cor-terciaria);
}

.ferramentas1:hover{
    color: var(--cor-hover-programas);
    font-size: 22px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.ferramentas2:hover{
    color: var(--cor-hover-programas);
    font-size: 22px;
    transition: 0.5s;
}

.ferramentas3:hover{
    color: var(--cor-hover-programas);
    font-size: 22px;
    transition: 0.5s;
}
.apresentacao_links_link:hover{
    background-color: var(--cor-hover);
    transition: 0.5s;
    
}

.foto{
    margin-bottom: 105px;
    border-radius: 5%;
    width: 390px;
    
}

.whats-icon{

    height: 30px;
    padding-right: 2px;
    padding-left: 10px;
}

.linkedin-icon{

    height: 30px;
    padding-left: 18px;   
}

.rodape{
    padding: 1%;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}